.iframeContainer {
  padding: 20px;
  border: 1px solid #e3e3e3;
}

/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Padding bottom by footer height */
  padding-bottom: 80px;
}
#scatter::before {
  position: absolute;
  top: 10px;
  left: 300px;
  z-index: -1;
  display: block;
  width: 400px;
  height: 500px;
  content: " ";
  background-image: url("maternity-clipart-4.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  opacity: 0.3;
}
.tooltip {
  position: absolute;
  width: 135px;
  height: 100px;
  padding: 2px;
  padding-top: 8px;
  font: 12px sans-serif;
  color: white;
  text-align: center;
  background: #551aaf;
  border: 0;
  border-radius: 10px;
}

.d3-tip {
  line-height: 1;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
}

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}
.axis-text {
  font-family: sans-serif;
  font-weight: bold;
  fill: #551aaf;
  text-anchor: middle;
}

.active {
  font-weight: bold;
  fill: #000;
  fill: #551aaf;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

.inactive {
  font-weight: lighter;
  fill: #551aaf;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

.inactive:hover {
  fill: #e75480;
  cursor: pointer;
}